body {
  font-family: Arial, sans-serif;
  text-align: center;
  /* background-image: url(./images/svitanok.jpg); */
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  font-family: 'Comfortaa', cursive;
  height: 100%;
  background-image: url('https://source.unsplash.com/1600x900/?nature,landscape');
  background-size: cover;
  /* background-position: top, bottom; */
}

#city-input {
  width: 200px;
  padding: 10px 10px;
  box-shadow: inset 2px 3px 2px rgb(0 0 0 / 48%);
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.buttonWraper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
ul {
  padding: 0px;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  /* display: inline-block;
  width: 200px; */
}

img {
  width: 50px;
  height: 50px;
}
/* ******************************* */
.WeatherName {
  font-size: 2rem;
}

.WeatherWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: unset;
  /* width: 450px; */
  /* background-color: rgba(226, 226, 226, 0.2); */
  color: #fff;
  background-color: rgb(27 86 232 / 80%);
  text-align: center;
  box-shadow: rgb(33 33 33) 0px 2px 10px 1px;
  /* padding: 20px; */
}

/* @media screen and (max-width: 750px) {
  .WeatherWrapper {
    padding: 15px;
  }
} */

.CitySearch {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: white;
  background-position: 10px 10px;
  padding: 12px 20px 12px 20px;
  transition: width 0.4s ease-in-out;
}

.CitySearch:focus {
  width: 60%;
}

.CityName {
  margin-top: 10px;
  font-size: 1.25em;
}

.DateWrapper {
  font-size: 1.25em;
  font-weight: 600;
}

.IconStyled {
  font-size: 4rem;
  font-weight: 700;
  color: #1e2432;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .IconStyled {
    font-size: 3rem;
  }
}

.DegStyled {
  font-size: 16px;
}

@media screen and (max-width: 750px) {
  .DegStyled {
    font-size: 14px;
  }
}

.WindStyled {
  font-weight: 600;
}

.ErroreMessage {
  display: block;
  text-align: center;
  color: rgb(20, 2, 2);
  font-size: 30px;
}
/* для кнопок */
.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50px;
  border: unset;
  font-size: 16px;
  font-weight: bold;
  background-color: #2196f3;
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
  box-shadow: rgb(33 33 33) 0px 2px 10px 1px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* для кнопки Логін */
button:hover,
#submitButton:hover,
#submitButton:focus,
#loginButton:hover,
#loginButton:focus {
  color: white;
  background-color: #4caf50;
  box-shadow: rgb(33 33 33) 2px -4px 5px -1px;
}
.form-class input[type='submit']:disabled {
  background-color: rgba(239, 239, 239, 0.3) !important;
  color: rgba(16, 16, 16, 0.3) !important;
  border-color: rgba(118, 118, 118, 0.3) !important;
}

/* стилі для розмітки, що повертає функція Weather */
.weather-wrapper {
  padding: 0px;
}

.WeatherWrapper {
  margin: 10px;
  box-sizing: border-box;
}

.weather-name {
  font-size: 2rem;
}

/* Медіазапит для екранів з шириною від 320px до 767px */
@media screen and (max-width: 767px) {
  .WeatherWrapper {
    width: 95%;
    /* flex: 0 0 90%; */
    margin: 10px auto;
    font-size: 25px;
    border-radius: 5px;
  }
  p,
  h3,
  h4 {
    margin: 5px;
  }
  .button {
    border-radius: 5px;
  }
  .form-class {
    width: 95%;
  }
  .weather-wrapper {
    display: block;
  }
}

/* Медіазапит для екранів з шириною 768px і більше */
@media screen and (min-width: 768px) {
  .weather-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-class {
    width: 25em;
  }
  .WeatherWrapper {
    flex: 0 0 calc(33.3333% - 20px);
  }
}

/* ... */
/* Темна тема */
body.dark-theme {
  background-image: url(../images/GYny.gif);
  background-size: cover;
  background-color: #493535;
  color: #f0f0f0;
}

body.dark-theme button {
  background-color: #1c1c1c;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
body.dark-theme button.addToSelected {
  background-color: unset;
  margin: 0px;
  padding: 0px;
  border: unset;
}
body.dark-theme li {
  background-color: #1c1c1c;
  border: unset;
}
/* -------------city-marker-container-----------------------------/ */
.city-marker-container {
  display: flex;
  align-items: center;
}
.city-marker,
.city-name {
  padding: 5px;
}
/* -------------------------Navbar---------------- */
/* CSS code with Google Fonts imported */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* Variables */
:root {
  --back-pop-up: #d18413;
  --text-pop-up: darkcyan;
}

/* Body */
/* html {
  height: 100%;
} */

/* body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  font-family: 'Comfortaa', cursive;
  height: 100%;
  background-image: url('https://source.unsplash.com/1600x900/?nature,landscape');
  background-size: cover;
  background-position: top, bottom;
} */

/* Dark Overlay */
#dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  background-image: url('https://source.unsplash.com/1600x900/?nature,landscape');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Close Button */
#button-x1,
#button-x2 {
  background-color: var(--back-pop-up);
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  border-top-right-radius: 0.5em;
  cursor: pointer;
}

#x-icon {
  height: 20px;
  width: 20px;
  position: relative;
}

#x-icon:before,
#x-icon:after {
  content: '';
  position: absolute;
  height: 0.3em;
  width: 100%;
  top: 50%;
  left: 0;
  transition: all 0.1s linear;
  background: var(--text-pop-up);
}

#x-icon:before {
  transform: rotate(45deg);
}

#x-icon:after {
  transform: rotate(-45deg);
}

#x-icon:hover:before,
#x-icon:hover:after {
  background-color: var(--text-pop-up);
}

/* Form */
.form-class {
  position: relative;
  padding: 1em;
  display: block;
  background-color: var(--back-pop-up);
  z-index: 1000;
  /* width: 25em; */
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin: 0 auto;
  color: var(--text-pop-up);
}

.form-class h2 {
  margin: 0;
  padding-bottom: 1em;
}

.form-class form {
  font-size: 1em;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.form-class input {
  font-size: 1em;
  margin-bottom: 1em;
  font-family: 'Comfortaa', cursive;
  outline-color: var(--text-pop-up);
  box-sizing: border-box;
}

.form-class input[type^='text'],
.form-class input[type^='password'] {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 0.4em;
}

.form-class input[type^='checkbox'] {
  cursor: pointer;
}

.form-class input[type^='submit'] {
  float: right;
  margin-top: 1em;
  background-color: var(--text-pop-up);
  border: none;
  padding: 0.7em;
  color: var(--back-pop-up);
  transition: all 0.1s linear;
  cursor: pointer;
}

.form-class input[type^='submit']:hover {
  background-color: var(--text-pop-up);
}

/* Registration and Login Sections */
#Register,
#Login {
  position: absolute;
  margin-top: 5em;
  left: 0;
  right: 0;
  display: none;
}
#UserInfo {
  box-sizing: border-box;
  /* width: 8em; */
  padding: 1em;
  font-size: 1.3em;
  font-family: 'Comfortaa', cursive;
  background-color: transparent;
  border: none;
  color: white;
  border-left: 4px solid white;
  /* padding: 0px; */
  height: 100%;
  margin: 0;
}
#UserInfo > p {
  margin: 0;
}
/* Buttons */
.buttons {
  padding-bottom: 0.05em;
  background-color: var(--text-pop-up);
  border-bottom: 0.3em solid darken(var(--back-pop-up), 30%);
}
.buttons button {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1.3em;
  font-family: 'Comfortaa', cursive;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.buttons button:hover {
  background-color: #51c4c4;
  color: #ffff00;
}
@media screen and (max-width: 767px) {
  .buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #UserInfo {
    width: 100%;
    border-top: 4px solid white;
  }
}
@media screen and (min-width: 768px) {
  #reg-button,
  #log-button {
    margin: 0;
  }
  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.05em;
    background-color: var(--text-pop-up);
    border-bottom: 0.3em solid darken(var(--back-pop-up), 30%);
  }
  .buttons button {
    box-sizing: border-box;
    width: 8em;
    padding: 1em;
    font-size: 1.3em;
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear;
  }

  .buttons button:hover {
    background-color: #51c4c4;
    color: #ffff00;
  }
}
